<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'boot_strap.html' %}
</head>
<body>
    {% include 'navigation.html' %}

    {% include 'messages.html' %}

    <div class="container col-8 login">
        <h3 class="text-center pb-3 pt-3">Log in with you plex account</h3>
        <form method="post" action="login">
            {% csrf_token %}
            <div class="text-center">
                <input class="username text-center form-control form-control-md" type="text" id="username" name="username" placeholder="username/email">
            </div>
            <div class="text-center pb-2">
                <input class="password text-center form-control form-control-md" type="password" id="password" name="password" placeholder="password">
            </div>
            <div class="text-center pb-3">
                <button type="submit" class="btn btn-lg shuffle-submit-button">Log In</button>
            </div>
        </form>
    </div>

</body>
</html>