<div class="container pb-3 server_selection">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col text-right">
          <h4>Select Plex Server</h4>
        </div>
        <div class="col-2 pl-0">
          <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Servers
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="#">None</a></li>
                  {% for server in plex_servers %}
                      <li class="dropdown-item"><a href='{% url "index" %}?plex_server_select={{ server.name }}'>{{ server.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      {% if plex_connected_server %}
        <h4>Connected to '{{ plex_connected_server }}'</h4>
    {% endif %}
    </div>
  </div>
</div>