<div class="container shuffled_view_and_client_select_push pt-5">
    <div class="row">
        <div class="col text-center">
            <h3 class="text-center" style="font-weight: bold;font-size: 24px;">Generated Plex Queue ({{ shuffled_episodes|length }})</h3>
        </div>
        <div class="col-3 text-right">
          <h4>Select Plex Client</h4>
        </div>
        <div class="col-2 pl-0">
          <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Servers
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="#">None</a></li>
                  {% for client in plex_clients %}
                    <li class="dropdown-item"><a href='{% url "push_client" %}?client_select={{ client.title }}'>{{ client.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        </div>
    </div>

    <div class="container episodes_listing">
        <ul class="row text-center episode_list">
        {% for episode in shuffled_episodes %}
            <li class="col episode_item">
                {% include 'episode_item.html' with episode=episode%}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>