<script>
$(document).ready(function(){
    $('.waiting').hide();
    {% for show in selected_shows %}
        $('.{{ show.ratingKey }}').addClass('selected');
    {% endfor %}
    counter();
});

$('.show_list_item').click(function () {
  $(this).toggleClass('selected');
  counter();
});

$('.select-button').click(function () {
  if ($('.show_list_item.selected').length == 0) {
    $('.show_list_item').addClass('selected');
  }
  else {
    $('.show_list_item').removeClass('selected');
  }
  counter();
});

$('.save-selected-button').click(function(){
    let data = {}
    data['list'] = getSelectedShows();
    data['save_name'] = getSelectedSaveName();
    $.ajax({
        type: "POST",
        url: "{% url 'saved_list' %}",
        data: data,
        success: function(return_data){
            window.location.reload();
        }
    });
});

$('.shuffle-submit-button').click(function (e){
    let data = {}
    data['list'] = getSelectedShows();
    data['shuffle_style'] = getShuffleType();
    data['max_episode_count'] = getMaxEpisodeCount();
    $('.waiting').show();
    document.getElementById("shuffled_view").innerHTML = "";
    $.ajax({
        type: "POST",
        url: "{% url 'shuffle' %}",
        data: data,
        complete: function(return_data){
            let m_html = return_data.responseText;
            let responce_code = return_data.status
            if (responce_code != 200) {
                document.open()
                document.write(m_html)
                document.close()
                $('.waiting').hide();
            }
            else{
                document.getElementById("shuffled_view").innerHTML = m_html;
                $('.waiting').hide();
            }
        }
    });
});

function getMaxEpisodeCount(){
    return document.getElementById("max-episode-input").value;
}

function getSelectedSaveName(){
    return document.getElementById("save-select-name-input").value;
}

function getSelectedShows(){
    const send_list = []
    if ($('.show_list_item.selected').length != 0) {
        for (i=0;i<$('.show_list_item.selected').length;i++){
            const item = $('.show_list_item.selected')[i];
            title = item.innerText;
            send_list.push(title);
        }
    }
    return send_list;
}

function getShuffleType(){
    shuffle_style = "inclusive";
    var radios = document.getElementsByName("optradio");
    for (var i = 0; i<radios.length; i++){
        if (radios[i].checked){
            shuffle_style = radios[i].value;
        }
    }
    return shuffle_style
}

function counter() {
  display=document.getElementById('selected-count');
  display.innerHTML=$('.show_list_item.selected').length;
}

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
