<div class="container mb-5 mt-3 navigation">
    <nav class="navbar navbar-default navbar-light">
        <div  class="row w-100">
            <a class="col-3 btn btn-lg" href="{% url 'index' %}">
                {% load static %}
                <img src='{% static "images/TvShuffleForPlex.png" %}' class="shuffle_logo" title="Tv Shuffle For Plex" data-toggle="tooltip" data-placement="bottom">
            </a>
            {% if request.session.is_plex %}
            {% include 'server_selection.html' %}
            <div class="col-6 w-100 text-right my-auto">
                <a class="btn btn-lg disabled" href="#">{{ request.session.username }}</a>
                <a class="btn btn-lg" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="col-9 w-100 text-right">
                <a class="btn btn-lg" href="{% url 'login' %}">Login</a>
            </div>
        </div>
        {% endif %}
    </nav>
</div>