<div class="container mb-5 mt-3 navigation">
    <nav class="navbar navbar-default navbar-light">
        <a class="btn btn-lg" href="{% url 'index' %}">
            {% load static %}
            <img src='{% static "_tvshuffleforplex/TvShuffleForPlex.png" %}' class="shuffle_logo" title="Tv Shuffle For Plex" data-toggle="tooltip" data-placement="bottom">
        </a>
        {% if request.session.is_plex %}
        <div>
            <a class="btn btn-lg disabled" href="#">{{ request.session.username }}</a>
            <a class="btn btn-lg" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div>
            <a class="btn btn-lg" href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </nav>
</div>