<div class="server_selection col-3 my-auto mx-auto">
    <div class="row mx-auto my-auto">
        <div class="col-6">
            <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle server-select-button" type="button" data-toggle="dropdown">Servers
              <span class="caret"></span></button>
              <ul class="dropdown-menu" id="server-selection-list">

              </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
              {% if request.session.plex_connected_server %}
                <h4>'{{ request.session.plex_connected_server }}'</h4>
              {% else %}
                <h6>Not Connected to server</h6>
              {% endif %}
            </div>
        </div>
    </div>
</div>