<div class="container pb-3 shuffle_form">
    <div class="row justify-content-center">

        <div class="col-2">
            <div class="dropdown">
                <button class="w-100 btn btn-sm btn-primary dropdown-toggle saved-select-list-button" type="button" data-toggle="dropdown">Saved List
                <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="saved-list-selection"></ul>
            </div>
        </div>


        <div class="col-2">
            <input id="save-select-name-input" class=" w-100 max-episode-input text-center form-control form-control-sm" placeholder="Name to save list as">
        </div>


        <div class="col-2">
            <button class="w-100 btn btn-sm save-selected-button" onclick="save_selected_shows()">Save list</button>
        </div>


        <div class="col-2">
            <input type="number" id="max-episode-input" class="max-episode-input text-center form-control form-control-sm w-100" placeholder="Max episodes (10 default)">
        </div>


        <div class="col-2">
            <button class="w-100 btn-shuffle btn-sm shuffle-submit-button" onclick="shuffle_shows()">Shuffle</button>
        </div>


    </div>
</div>