<div class="container shuffled_view pt-5 pb-10">

    <div id="shuffled_view_header">
        <a id="collapse_shuffled_listing" class="collapsible" href="#" onclick="toggle_shuffled_listing()">+</a>
        <h3 class="text-center shuffled_view_title" id="shuffled_view_title">Plex Queue (0)</h3>
        <div id="client_select_container" class="dropdown client_select_container">
            <button class="btn btn-sm btn-primary dropdown-toggle client-select-list-button" type="button" data-toggle="dropdown">Clients
              <span class="caret"></span></button>
              <ul class="dropdown-menu" id="client-selection-list">

              </ul>
        </div>
    </div>

    <div class="container episodes_listing" id="episodes_listing">
        <ul class="row text-center episode_list" id="episode_list">

        </ul>
    </div>


</div>