body{
    background-color: #282a2d;
    color: white;
}

.login > h3{
    color: #e5a00d;
    border: 2px solid #e5a00d;
}

a.btn{
    color: #e5a00d;
    border: 2px solid #e5a00d;
}

button.btn{
    background-color: #e5a00d;
    border: 2px solid #e5a00d;
}

ul.dropdown-menu{
    background-color: #282a2d;
}

button.dropdown-toggle:hover{
    background-color: #e5a00d;
}

.show > .btn-primary.dropdown-toggle{
    background-color: #e5a00d;
}

li.dropdown-item > a{
    color: #e5a00d;
}

li.dropdown-item > a:hover{
    background-color: #54585f;
}

li.dropdown-item:hover{
    background-color: #54585f;
}

input.max-episode-input{
    background-color: #aeb1b7;
    border: 2px solid #e5a00d;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input.max-episode-input:focus{
    background-color: #e4e5e7;
    border: 2px solid #e5a00d;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.tv_shows_listing::-webkit-scrollbar {
    width: 1em;
    color: red;
}

.waiting{
    height: 200px;
}

.tv_shows_listing {
    overflow-y: scroll;
    height: 575px;
    border: 2px solid #e5a00d;
}

.episodes_listing{
    overflow-y: scroll;
    height: 575px;
    border: 2px solid #e5a00d;
}

.tv_shows_listing > .show_list {
    padding-top: 1.5em;
}

.episodes_listing > .episode_list {
    padding-top: 1.5em;
}

.tv_shows_listing > .show_list > .show_list_item {
    display: inline-block;
    float: none;
}

.episodes_listing > .episode_list > .episode_item {
    display: inline-block;
    float: none;
}

.div-spacer{
    margin-top: 1.5em;
}

.show_list_item.selected img {
    box-shadow: 0 0 0 4px #00c09e;
}

.select-button {
    float: left;
    cursor: pointer;
    width: 200px;
}

.select-button:before, .select-button:after {
    position: absolute;
    display: block;
}

.select-button:after {
    margin-top: 20px;
    opacity: 0;
}

.messages{
    color: #e5a00d;
    background-color: #3c3f44;
    font-size: 24px;
    border: 2px solid red;
}

.username{
    background-color: #f1f2f3;
    border: 2px solid #e5a00d;
}

.username:focus{
    background-color: #f1f2f3;
    border: 2px solid #e5a00d;
}

.password{
    background-color: #f1f2f3;
    border: 2px solid #e5a00d;
}

.password:focus{
    background-color: #f1f2f3;
    border: 2px solid #e5a00d;
}

.episode_show_title{
    color: #f2f2f2;
    font-size: 15px;
}

.episode_season_episode{
    color: #cccccc;
    font-size: 13px;
}

.episode_title{
    color: #a6a6a6;
    font-size: 11px;
}

.shuffle_logo{
    width: 10em;
    height: 4em;
}